$progress-color: #E91E63;

:global(#nprogress .bar) {
  background: $progress-color;
}

:global(#nprogress .peg) {
  box-shadow: 0 0 10px $progress-color, 0 0 5px $progress-color;
}

:global(#nprogress .spinner-icon) {
  border-top-color: $progress-color;
  border-left-color: $progress-color;
}
